body {
  overflow-x: hidden;
  color: #0000
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-discount {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 17.188rem;

  margin-top: 2.188rem;
}

.container-title-banner main {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main div#main-title {
  display: flex;
  align-items: center;
  justify-content: center;  

  width: 90%;
  height: 110px;

  border-radius: 20px 20px 0px 0px;

  color: blue;
  font-size: 8.5rem;
  letter-spacing: -4px;
  font-weight: bold;
  background-color: #FFF;

  transform: rotate(-1deg) rotateX(32deg);
}

main div#secondary-title {
  display: flex;
  align-items: center;
  justify-content: center;  

  width: 90%;
  height: 127px;

  border-radius: 0px 0px 20px 20px;
  border-top: 5px dashed #FFF;

  color: #FFF;
  font-size: 12rem;
  letter-spacing: -4px;
  font-weight: bold;
  background-color: red;
}

#background-image {
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 700px;
}

div#info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 700px;
  color: red;
}

div#info-container h2 {
  width: 500px;
  font-size: 5rem;
  color: #FFF;
  text-align: center;
}

div#info-container span {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -35px;
  font-size: 2.5rem;
  color: #FFF;
  text-align: center;
  line-height: 1;

}

button#access-link {
  width: 150px;
  height: 40px;

  margin-top: 15px;

  padding: 10px 10px;

  background: red;
  color: #FFF;
  border: none;
  border-radius: 5px;

  font-size: 18px;
}

button#access-link:hover {
  background: #8B0000;
  cursor: pointer;
}